body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: hsl(0, 0%, 13%);
    
}

header {
    background-color: #222;
    color: white;
    padding: 2%;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    position:fixed;
    margin-top:0;
    top:0;
    left:0;
    z-index: 100;
}
img{
    
    height: 23dvb;
    margin-bottom:0%;
    margin-top: 5%;
    

}
.usuario{
    height: 7dvb;
    margin: 0;
}

.partido-card{
    box-sizing: border-box;
    width: 200dvb;
    background-color: #222;
    color:#2e2d2d;
    align-items: center;
    text-align: center;
    margin :5%;
    border-radius: 20px 20px 22px 22px ;
    margin-bottom: 10%;

}
p{
    background-color: rgb(224, 228, 228);
    padding:2%;
    margin:0%;
    
    border-radius: 0% 0% 20px 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header span {
    color: #ccc;
}

nav a {
    color: white;
    margin: 0px;
    text-decoration: none;
    font-size: 0.9rem;
    padding:2%
}

nav a:hover {
    text-decoration: underline;
}

.contenedor-botones {
  display: flex;
  gap: 3%; 
  margin-right:4%
}

#modo-oscuro, #modo-notificacion {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin: 0;
  /* quito margin-left:auto para que no se separen */
  display: flex;
  align-items:center; /* para centrar verticalmente el contenido */

}
.texto-encima {
    position: absolute;
    top: 10dvh; 
    left: 1dvw; 
    font-size: 5vmin;
    background-color: transparent; 
    color: white;
    padding: 7dvb;
    
}

.Titulo{
    font-size:5vmin;
}
.texto-menu {
    position: absolute;
    top: 95%; 
    font-size:2vmin ;
    background-color: rgba(0, 0, 0, 0.476); 
    color: white;
    padding: 2dvb ;
    text-align: center;
    margin-left: -3%;
    width: 100%
}
.texto-menu a {
    color: white; /* ahora sí blancos */
    font-size: 3vmin; /* tamaño relativo */
    text-decoration: none; /* quita subrayado */
}




.mundiales {
    margin-top: 80vmin;
    font-size: 3vmin;
    padding:none;
    padding-top: 8%;
    z-index: 1;
    align-items: center;
    text-align: center;

}
.partidos-grid{
    display:flex
}


/* Modo oscuro */
body.dark {
    background: #181818;
    color: #f5f5f5;
}

body.dark header {
    background: #000;
}

body.dark .card {
    background: #333;
}

body.dark .prev, body.dark .next {
    background: #555;
}

